// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.

// If you need a phase banner, put this inside the main content area
// See elements _layout.scss line 22.
.alpha-banner  {
  @include phase-banner(alpha); // Change this to (beta) for a beta banner
}
.alpha-tag {
  @include phase-tag(alpha); // Change this to (beta) for a beta tag
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.

.sub-head {
  font-weight: normal;
}

.sign-in {
  margin-left: -150px;
}
.verify {
  clear: both;
  width: 100%;
  margin-top: 50px;
  margin-left: 200px;}

.previous-answers {
  width: auto;
font-size: 16px;
padding-bottom: 1em;
}

#task {
  padding: 15px;
  background-color: #f6d7e5;
  border: 2px solid #eb9bbe;

}


#task-done {
  padding: 15px;
  background-color: #cce0d6;
  border: 2px solid #7fb299;

}

/* table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em 0 2em;
  width: 100%;
} */
.smart-answer table {
  border-collapse: collapse;
    border-spacing: 0;
    margin: 1em 0 2em;
    width: 100%;
}


.sectionsmrt {
  border-top: 1px solid #bfc1c3;
}

.section-title {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: bold !important;
  text-transform: none !important;
  padding-top: 1em !important;
  width: 100%;
}

.previous-question-title {
  padding: 0 1em 0.25em inherit;
  width: 50%;
}

.previous-question-body {
padding: 0 1em 0.25em inherit;
width: 50%;
}

.link-right {
  width: 10%;
  padding-right: 0;
  font-size: 14px;
}

/* article td {
  font-family: "ntatabularnumbers","nta",Arial,sans-serif;
font-size: 16px;
line-height: 1.25;
font-weight: 400;
text-transform: none;
vertical-align: top;
}

.table-title {
font-weight: bold !important;
  margin: 2em 0 2em 0;
  line-height: 0.5;
  border-bottom: 2px solid $grey-3;
}

.table-line {
  margin: 2em 0 2em 0;
  line-height: 0.5;
  border-bottom: 2px solid $grey-3;
} */

.manage-options {
  font-size: 95%;
  margin-left: 1.2em;
}

.add-kpi {
  padding: 0.9em 0.9em 0.9em 0em;
  margin: 0.2em 0.9em 0.9em 0em;
  border-bottom: 1px solid $grey-2;
}


.service-links {
    margin-top: 30px;
}

.admin-links {
    margin-top: 100px;
}

.status {
  margin-top: -55px;
}
.dashboard-status-unpublished {
  padding: 7px;
  display: inline-block;
  font-size: 24px;
  font-weight: normal;
  color: $grey-1;
}


.dashboard-status-published {
  padding: 14px;
  display: inline-block;
background: #005ea5;
color: white;}


.dash-tools {
  padding: 0.3em 0.3em 0.3em 0;
  font-size: 90%;
}

.top-links {
}

#global-breadcrumb, .page-header {
    margin-left: 0;
    margin-right: 0;
}

#global-breadcrumb {
    padding: 0.75em 0;
    margin: 0 1em;
    z-index: 50;
    background-color: #fff;
    border-bottom: 1px solid #bfc1c3;
}

#global-breadcrumb nav ol {
    margin: 0;
    padding-left: 0;
}

#global-breadcrumb nav ol li {
    font-family: "nta",Arial,sans-serif;
    font-size: 1.6rem;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/separator-73822610794bc3a64871f144d93d6526.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    float: left;
    list-style: none;
    margin-left: 0;
    margin-right: 0.5em;
    padding-right: 1em;
}

.datalinks ul {
  line-height: normal;
  font-size: 80%;
}

.govuk-option-select {
    background-color: #dee0e2;
    padding: 0 5px 5px 5px;
}

.js-enabled .govuk-option-select .js-container-head {
    position: relative;
}
.govuk-option-select .container-head {
    padding: 0 5px;
}

.govuk-option-select .option-select-label {
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    margin-right: 40px;
    font-weight: bold;
    padding-top: 10px;
}

.search-page-filters .option-select-label {
    display: block;
  }

  .js-enabled .govuk-option-select.js-collapsible .js-toggle-indicator {
      display: -moz-inline-stack;
      display: inline-block;
      height: 15px;
      width: 23px;
      background-image: url("/static/images/option-select-toggle-sprite.png");
      background-repeat: no-repeat;
      background-position: 0 3px;
      position: absolute;
      right: 3px;
      top: 10px;
  }

  .js-enabled .govuk-option-select.js-collapsible:hover {
    background-color: #bfc1c3;
    cursor: pointer;
}

.govuk-option-select .options-container {
    position: relative;
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 5px;
}

.govuk-option-select .options-container label {
    display: -moz-inline-stack;
    display: inline-block;
    padding: 7px 0 7px 30px;
    border-bottom: 1px solid #bfc1c3;
    width: 100%;
    cursor: pointer;
}

.option-select-container {
  margin-bottom: 2em;
}

.form-block {
  display: block;
  margin-bottom: 2em;
}

.complete-header {
  position: relative;
color: #fff;
max-width: 640px;
background: #28a197 !important;
margin: 0.5em 0 1em;
padding: 1em;
}
.complete-header h2 {
    font-size: 27px;
    padding-left: 64px;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    background: url("/public/images/icon-tick.png") left 2% center no-repeat;
}

.data-period {
  padding-left: 40px;
}

.button-secondary {
    background-color: $grey-3;
    color: #000;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0.3em 0.6em 0.2em 0.6em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 $grey-2;
    -moz-box-shadow: 0 2px 0 $grey-2;
    box-shadow: 0 2px 0 $grey-2;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 15px 15px 15px 0;
    padding: 0.52632em 0.78947em 0.26316em 0.78947em;
}


.button-backup {
    background-color: #dee0e2;
    color: #000;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0.3em 0.6em 0.2em 0.6em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 $grey-2;
    -moz-box-shadow: 0 2px 0 $grey-2;
    box-shadow: 0 2px 0 $grey-2;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

td {
  vertical-align: top;
}

.manage-buttons {
margin-top: -50px;
}

.kpi-added {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/public/images/tick.png") left 2% center no-repeat;
  margin-right: 10px;
}

.intro-block {
  width: 66.6%;
}
