// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.

// If you need a phase banner, put this inside the main content area
// See elements _layout.scss line 22.
.alpha-banner  {
  @include phase-banner(alpha); // Change this to (beta) for a beta banner
}
.alpha-tag {
  @include phase-tag(alpha); // Change this to (beta) for a beta tag
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.

.sub-head {
  font-weight: normal;
}

.sign-in {
  margin-left: -150px;
}
.verify {
  clear: both;
  width: 100%;
  margin-top: 50px;
  margin-left: 200px;}

.previous-answers {
  width: auto;
font-size: 16px;
padding-bottom: 1em;
}

#task {
  padding: 15px;
  background-color: #f6d7e5;
  border: 2px solid #eb9bbe;

}


#task-done {
  padding: 15px;
  background-color: #cce0d6;
  border: 2px solid #7fb299;

}

/* table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em 0 2em;
  width: 100%;
} */
.smart-answer table {
  border-collapse: collapse;
    border-spacing: 0;
    margin: 1em 0 2em;
    width: 100%;
}


.sectionsmrt {
  border-top: 1px solid #bfc1c3;
}

.section-title {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: bold !important;
  text-transform: none !important;
  padding-top: 1em !important;
  width: 100%;
}

.previous-question-title {
  padding: 0 1em 0.25em inherit;
  width: 50%;
}

.previous-question-body {
padding: 0 1em 0.25em inherit;
width: 50%;
}

.link-right {
  width: 10%;
  padding-right: 0;
  font-size: 14px;
}

/* article td {
  font-family: "ntatabularnumbers","nta",Arial,sans-serif;
font-size: 16px;
line-height: 1.25;
font-weight: 400;
text-transform: none;
vertical-align: top;
}

.table-title {
font-weight: bold !important;
  margin: 2em 0 2em 0;
  line-height: 0.5;
  border-bottom: 2px solid $grey-3;
}

.table-line {
  margin: 2em 0 2em 0;
  line-height: 0.5;
  border-bottom: 2px solid $grey-3;
} */

.manage-options {
  float: right;
  font-size: 80%;
}

.add-kpi-0 {
  padding: 0.9em 0.9em 0.9em 0.9em;
  margin: 0.9em 0.9em 0.9em 0em;
  background-color: #f6d7e5;
  border-bottom: 2px solid $grey-1;

}

.add-kpi-1 {
  padding: 0.9em 0.9em 0.9em 0.9em;
  margin: 0.9em 0.9em 0.9em 0em;
  background-color: #cce0d6;
  border-bottom: 2px solid $grey-1;
}

.service-links {
    margin-top: 30px;
}

.admin-links {
    margin-top: 100px;
}

.status {
  margin-top: -45px;
}
.dashboard-status-unpublished {
  font-size: 110%;
  background: $grey-3;
  font-weight: bold;
  padding: 14px;
  display: inline-block;
}


.dashboard-status-published {
  padding: 7px 7px 7px 0;
  font-weight: bold;
  display: inline-block;
  color: $green;
}


.dash-tools {
  padding: 0.3em 0.3em 0.3em 0;
  font-size: 90%;
}

.top-links {
}

#global-breadcrumb, .page-header {
    margin-left: 0;
    margin-right: 0;
}

#global-breadcrumb {
    padding: 0.75em 0;
    margin: 0 1em;
    z-index: 50;
    background-color: #fff;
    border-bottom: 1px solid #bfc1c3;
}

#global-breadcrumb nav ol {
    margin: 0;
    padding-left: 0;
}

#global-breadcrumb nav ol li {
    font-family: "nta",Arial,sans-serif;
    font-size: 1.6rem;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/separator-73822610794bc3a64871f144d93d6526.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    float: left;
    list-style: none;
    margin-left: 0;
    margin-right: 0.5em;
    padding-right: 1em;
}
