{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Get a performance platform dashboard</h1>


	<p>
	    
	      If you own or work on a transactional service on GOV.UK,
	      you can now get a performance dashboard for it displaying the
	      <a href="https://www.gov.uk/service-manual/measurement">4 digital KPIs</a>
	      (key performance indicators) for your service as required by the
	      <a href="https://www.gov.uk/service-manual/digital-by-default">service standard</a>.
	    
	  </p>

	  <p class="col-sm-8 col-md-6">
	      You will need to send us basic details about you and your service and
	      within 3 days we shall email you with a login to our Get a dashboard service.
	    </p>

	    <div class="row callout">
	      <p class="col-sm-8 col-md-6">
	        The details about you and your service shall be reviewed by the
	        Performance Platform team who shall the set up a GOV.UK Signon
	        account for your dashboard and email you with login details
	        within 3 working days.
	      </p>
	    </div>

	    <p>
	      When you're done, your dashboard will look like
	      <a href="https://www.gov.uk/performance/standard-dashboard">this example</a>.
	    </p>

	    <h2 class="heading-medium">About the 4 digital KPIs</h2>
	    <p>The 4 digital KPIs are part of the
	      <a href="https://www.gov.uk/service-manual">Digital Service Design Manual</a>.
	    </p>
	    <p>They are:</p>
	    <ul class="list-bullet">
	      <li>Admin cost per user</li>
	      <li>Digital take-up</li>
	      <li>User satisfaction</li>
	      <li>Completion rate</li>
	    </ul>

	    <a href="2-serviceinfo"><button class="button">Start now</button></a>






</div>

</main>
</div>
{{/content}}

{{/layout}}
