{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Digital take-up data</h1>

	<p>How regularly do you collect data?</p>

	<fieldset class="inline">
	<label class="block-label" for="radio-inline-1">
	  <input id="radio-inline-1" type="radio" name="radio-inline-group" value="I">
	  Weekly
	</label>
	<label class="block-label" for="radio-inline-2">
	  <input id="radio-inline-2" type="radio" name="radio-inline-group" value="II">
	  Monthly
	</label>
</fieldset>

<p><a href="12-datepick"><button class="button">Next</button></a></p>


<p><a href="10-channels">Back</a></p>


</main>
</div>
{{/content}}

{{/layout}}
