{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Digital take up data</h1>

	<h2 class="heading-medium">Data for 8 August 2015 to 14 August 2015</h2>

<p>Check your data.</p>

	<h2 class="heading-medium">Digital channels</h2>

<p>
	Website: 55.3%
</p>

<p>
	API: 20.3%
</p>



	<h2 class="heading-medium">Non-digital channels</h2>

	<p>
		Telephone (manual): 10.7%
	</p>

	<p>
		Textphone: 0.1%
	</p>

	<p>
		<label class="form-label" for="paper">Paper form: 13.6%
	</p>

	<p><a href="13-dataentry">Edit this data</a></p>

<a href="15-dashboard"><button class="button">Save data</button></a>





</main>
</div>
{{/content}}

{{/layout}}
