{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Pay your income tax dashboard</h1>

	<h1 class="heading-medium">Service description</h1>

	<p>The income tax service lets citizens view and pay their income tax.</p>

	<div style="color: grey;"><p>To change this description talk to your service's GOV.UK contact.</p></div>



<h1 class="heading-medium">Dashboard data</h1>

<p>

	<table class="calendar">
	<thead><tr>
	<th>Data type</th>
	<th>Last data</th>
	<th>Actions</th>
	      </tr></thead>
	<tbody>
	<tr>
	<td class="calendar_date"><a href="#">Digital take-up</a></td>
	          <td class="calendar_day">15 August 2015</td>
	          <td class="calendar_title"><a href="#">Add new data</a><br><a href="#">Edit data</a></td>

	        </tr>
	

	</tbody>
	</table>

</p>


<p><a href="#">Add cost per transaction data</a></p>

<p><a href="#">Add user satisfaction data</a></p>


	    <p><a href="#">Add completion rate data</a></p>

	   

<p>Definitions of the 4 service KPIs can be found in the <a href="https://www.gov.uk/service-manual/measurement">service manual</a>.</p>

<p><a href="#">Add a custom performance indicator</a></p>

<h1 class="heading-medium">Collaborators</h1>

<p>No collaborators have been added to this dashboard.</p>

<h1 class="heading-medium">Actions</h1>

<p><a href="#">Add a collaborator</a></p>

<p><a href="#">Delete this dashboard</a></p>

<p><a target="_blank" href="https://www.gov.uk/performance/standard-dashboard">Preview this dashboard</a></p>

<p>This dashboard in not currently public.</p>

<p><a href="#">Publish this dashboard</a></p>

<p><a href="7-dashboards">Back to your dashboards</a></p>

<p><a href="https://gov.uk">Sign out</a></p>

</main>
</div>
{{/content}}

{{/layout}}
