{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<p>To: mary@example.gov.uk<br>
	From: cliff.underwood@digital.cabinet-office.gov.uk<br>
	Date: 28 July 2015, 5:03pm<br>
	Subject: Tax account service dashboard</p>

	<p>Hi Mary</p>

	<p>We've reviewed your information and you can have a performance dashbaord for the pay your income tax service.</p>

	<p>Please click <a href="5-signin">this link to set up your dashboard</a> - you will need a GOV.UK signin account. If you do not already have an account, we'll create one for you and send sign in information in a seperate email.</p>

	<p>If you have any problems please feel free to email me.</p>

	<p>Cliff Underwood<br>Performance manager<br>GOV.UK</p>

</div>

</main>
</div>
{{/content}}

{{/layout}}
