{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">GOV.UK Signon</h1>


	<p>You need to sign in or sign up before continuing.</p>


	<div class="row">
	    <div class="form-group col-sm-8 col-md-6">
	      <label for="full_name">Email address</label><br>
	      <input class="form-control" id="full_name" name="full_name" type="text" value="">
	    </div>
	  </div>

	  <div class="row">
	      <div class="form-group col-sm-8 col-md-6">
	        <label for="email_address">Passphrase</label><br>
	        <input class="form-control" id="email_address" name="email_address" type="password" value="">
	      </div>
	    </div>

	    



	      





	    <a href="6-applications"><button class="button">Sign in</button></a>


	    <p><a href="">Forgot your passphrase?</a>






</div>

</main>
</div>
{{/content}}

{{/layout}}
