{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Welcome to GOV.UK</h1>


	


	<div class="col-md-4">
	  <h2 class="heading-medium">Your account</h2>
	  <ul>
	    <li><a href="/users/250/edit_email_or_passphrase">Change your email or passphrase</a></li>
	    <li><a href="/users/sign_out">Sign out</a></li>
	  </ul>
	  </div>

	    <h1 class="heading-medium">Your applications</h1>

	    <div class="list-group remove-bottom-margin">

	            <div class="list-group-item">
	              <h3 class="heading-small">
	                <a href="7-dashboards">Performance Platform admin</a>
	              </h3>
	              <div class="text-muted">
	                Administer the Performance Platform<br>
	                • 
	                Roles: <em>Signin and Dashboard-editor</em>
	              </div>
	            </div>

	            <div class="list-group-item">
	              <h3 class="heading-small">
	                <a href="">Support</a>
	              </h3>
	              <div class="text-muted">
	                Wraps Zendesk API
	              </div>
	            </div>
	        </div>

	      








</div>

</main>
</div>
{{/content}}

{{/layout}}
