{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Performance platform dashboards</h1>


	<h2 class="heading-medium">Public dashboards</h2>

<p>No public dashboards.</p>

<h1 class="heading-medium">Unpublished dashboards</h1>

<p>

	<table class="calendar">
	<thead><tr>
	<th>Name</th>
	<th>Last edited</th>
	<th>Collaborators</th>
	      </tr></thead>
	<tbody>
	<tr>
	<td class="calendar_date"><a href="#">Inheritance tax</a></td>
	          <td class="calendar_day">3 June 2015</td>
	          <td class="calendar_title">max.beesley@hmrc.gov.uk<br>hayley.oliver@digital.cabinet-office.gov.uk</td>

	        </tr>
	<tr>
	<td class="calendar_date"><a href="#">Tax credits</a></td>
	          <td class="calendar_day">4 Feb 2015</td>
	          <td class="calendar_title">james.wirth@digital.cabinet-office.gov.uk<br>sarah.gabriel@hmrc.gov.uk</td>
	        </tr>

	</tbody>
	</table>

</p>
	

	    <p><a href="8-newdashboard">Create a new dashboard</a></p>

	    <p><a href="#">Sign out</a></p>

</main>
</div>
{{/content}}

{{/layout}}
