{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Performance platform dashboards</h1>

	<table class="calendar">
	<thead><tr>
	<th>Name</th>
	<th>Last edited</th>
	<th> </th>
	      </tr></thead>
	<tbody>
	<tr>
	<td class="calendar_date">31 August</td>
	          <td class="calendar_day">Monday</td>
	          <td class="calendar_title">Summer bank holiday</td>
	        </tr>
	<tr>
	<td class="calendar_date">25 December</td>
	          <td class="calendar_day">Friday</td>
	          <td class="calendar_title">Christmas Day</td>
	        </tr>
	<tr>
	<td class="calendar_date">28 December</td>
	          <td class="calendar_day">Monday</td>
	          <td class="calendar_title">Boxing Day (substitute day)</td>
	        </tr>
	</tbody>
	</table>


	<div class="col-md-4">
	  <h2 class="heading-medium">Public dashboards</h2>

	  </div>

	    <h1 class="heading-medium">Your applications</h1>

	    <div class="list-group remove-bottom-margin">

	            <div class="list-group-item">
	              <h3 class="heading-small">
	                <a href="7-dashboards">Performance Platform admin</a>
	              </h3>
	              <div class="text-muted">
	                Administer the Performance Platform<br>
	                • 
	                Roles: <em>Signin and Dashboard-editor</em>
	              </div>
	            </div>

	            <div class="list-group-item">
	              <h3 class="heading-small">
	                <a href="#">Support</a>
	              </h3>
	              <div class="text-muted">
	                Wraps Zendesk API
	              </div>
	            </div>
	        </div>

	      



	        <ul>
	          
	          <li><a href="/users/sign_out">Sign out</a></li>
	        </ul>




</div>

</main>
</div>
{{/content}}

{{/layout}}
