{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Create a new dashboard</h1>

	<div class="row">
	    <div class="form-group col-sm-8 col-md-6">
	      <label for="email_address">Service name</label><br>
	      <input class="form-control" id="email_address" name="email_address" type="text" value="">
	    </div>
	  </div>


	  <div class="row">
	      <div class="form-group col-sm-8 col-md-6">
	        <label for="servicedesc">Description of service</label><br>
	        <textarea  rows="6" cols="50" name="servicedesc"> </textarea><p>
	        This will appear on the service dashboard. It may be rewritten in line with the <a href="https://www.gov.uk/guidance/style-guide">GOV.UK style guide</a>.</p>
	      </div>
	    </div>


	    <p><a href="8a-newdashboard"><button class="button">Next</button></a></p>

<p><a href="7-dashboards">Back to your dashboards</a></p>



</main>
</div>
{{/content}}

{{/layout}}
