{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Digital take-up data</h1>

	

	<p>How do you want to upload service data about digital take-up?</p>

	



<h1 class="heading-medium">Setup API access (recommended)</h1>

<p>This will automatically provide data to the performance platform once setup.</p>

<p><a href="#">Developer information to set up your service to use the API</a></p>

<a href="#"><button class="button">Use the API</button></a>


<h1 class="heading-medium">Add data manually</h1>

<p>This requires data to be added manually every week or month for as long as the service is running.</p>

<a href="10-channels"><button class="button">Add data manually</button></a>

<p><a href="8a-newdashboard">Back to pay your income tax dashboard</a></p>



</main>
</div>
{{/content}}

{{/layout}}
