{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Digital take-up data</h1>

<h2 class="heading-medium"><span class="font-medium">Week commencing 8 August 2015:</span> <br>
How many users were there for each channel?</h2>


	<h2 class="heading-medium">Digital channels</h2>

<p>
	<label class="form-label" for="website">Website</label>
	<input class="form-control" id="website" type="text" style="width: 100px;">
</p>

<p>
	<label class="form-label" for="api">API</label>
	<input class="form-control" id="api" type="text" style="width: 100px;">
</p>



	<h2 class="heading-medium">Non-digital channels</h2>

	<p>
		<label class="form-label" for="tel">Telephone (manual)</label>
		<input class="form-control" id="tel" type="text" style="width: 100px;">
	</p>

	<p>
		<label class="form-label" for="tel2">Textphone</label>
		<input class="form-control" id="tel2" type="text" style="width: 100px;">
	</p>

	<p>
		<label class="form-label" for="paper">Paper form</label>
		<input class="form-control" id="paper" type="text" style="width: 100px;">
	</p>



<a href="14-datacheck"><button class="button">Next</button></a>


<p><a href="12-datepick">Back</a></p>


</main>
</div>
{{/content}}

{{/layout}}
