{{<layout}}

{{$pageTitle}}
Become a childminder
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Become a childminder</h1>


	<h2 class="heading-medium">You don't need permission if</h2>
	<ul class="list-bullet">
		<li>You care for children age 8 and over</li>
		<li>If you care for children under 8 in domestic premises (eg a home)</li>
		<li>If you provide a home-education arrangement</li>
		<li>If you provide extracurricular activities (up to two of the following: study support, sport, performing arts, arts and crafts, religious study)</li>
	</ul>

	<h2 class="heading-medium">You need permission if</h2>
	<ul class="list-bullet">
		<li>You want to care for children aged between 5 and 7</li>
		<li>You are not related to the child</li>
		<li>You provide care for longer than 2 hours </li>
	</ul>



	<h2 class="heading-medium">Who can register</h2>

	<p>To apply you must:</p>
	<ul class="list-bullet">
	<li>Have the right to work in the UK</li>
	<li>Be 18 of over</li>
	<li>Undergo a disclosure and Barring Service (DBS) check</li>
</ul>

<a href="related-to-child"><button class="button">Continue</button></a>


</main>
</div>
{{/content}}

{{/layout}}
