{{<layout}}

{{$pageTitle}}
Become a childminder
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Become a childminder</h1>

	<h2 class="heading-medium">As a childminder you will:</h2>
	<ul class="list-bullet">
		<li>Provide a caring, educational environment for a child</li>
			<li>...</li>
		</ul>

		<h2 class="heading-medium">What do I need to do?</h2>
		<strong>First check whether you <a href="#">need permission</a></strong>

<h2 class="heading-medium">If you need permission:</h2>
	<ol class="list-number">
			<li>Contact your local council for pre-registration training</li>
			<li>Apply for a Disclosure and Barring Service (DBS) check</li>
			<li>Fill in and submit a health declaration booklet if you’re applying as a childminder on the Early Years Register, working directly with children, or a manager in charge of the day-to-day running of childcare on domestic premises.</li>
			<li>Apply online</li>
		</ul>



	<h2 class="heading-medium">You don't need permission if</h2>
	<ul class="list-bullet">
		<li>You care for children age 8 and over</li>
		<li>If you care for children under 8 in domestic premises (eg a home)</li>
		<li>If you provide a home-education arrangement</li>
		<li>If you provide extracurricular activities (up to two of the following: study support, sport, performing arts, arts and crafts, religious study)</li>
	</ul>

	<h2 class="heading-medium">You need permission if</h2>
	<ul class="list-bullet">
		<li>You want to care for children aged between 5 and 7</li>
		<li>You are not related to the child</li>
		<li>You provide care for longer than 2 hours </li>
	</ul>

		<h2 class="heading-medium">You can't have permission if</h2>
		<ul class="list-bullet">
			<li>You are under 18</li>
			<li>You don't have the right to work in the UK</li>
			<li>You have a criminal record </li>
		</ul>



	<h2 class="heading-medium">Why do I need to be a registered childminder?</h2>
	<ul class="list-bullet">
	<li>To ensure you will provide a good standard of care for children</li>
</ul>

<h2 class="heading-medium">How long it takes</h2>

<p>Registering usually takes up to:</p>

<ul class="list-bullet">
<li>12 weeks for childminders and home childcarers</li>
<li>25 weeks for a childcare providers on domestic or non-domestic premises</li>

<div class="application-notice help-notice">
<p>You can get an unlimited fine or be sent to prison or both if you provide childminding or daycare services without being registered.</p>
</div>

<p>You can get an unlimited fine or be sent to prison or both if you provide childminding or daycare services without being registered.</p>

<a href="number-of-children"><button class="button">Check if you need permission</button></a>
</div>

</main>
</div>
{{/content}}

{{/layout}}
