{{<layout}}

{{$pageTitle}}
Become a childminder
{{/pageTitle}}

{{$content}}

<main id="content" role="main">


	<div class="grid-row">
	    <div class="column-two-thirds">
	      <p><h1 class="heading-xlarge">Become a childminder</h1>

				<h2 class="heading-medium">Do you provide care for under 14 days in a year?</h2>

				<fieldset class="inline">
				<label class="block-label" for="radio-inline-1">
					<input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
					Yes
				</label>
				<label class="block-label" for="radio-inline-2">
					<input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
					No
				</label>
			</fieldset></p>
	    </div>
	    <div class="column-third">
	      <p></p>
	    </div>
	  </div>




		<a href="child-dob"><button class="button" id="child-dob">Continue</button></a>


</main>
</div>
{{/content}}

{{/layout}}
