{{<layout}}

{{$pageTitle}}
Register to look after children
{{/pageTitle}}

{{$content}}

<main id="content" role="main">


	<div class="grid-row">
	    <div class="column-two-thirds">

				<p><h1 class="heading-xlarge">Register to look after children</h1>

				<h2 class="heading-medium">How many hours per day approximately will you care for the child?</h2>

				<input class="form-control caring-time" id="caring-time" type="number">

	    </div>
	    <div class="column-third">
	      <p></p>
	    </div>
	  </div>




		<a href="care-time-period"><button class="button">Continue</button></a>


</main>
</div>
{{/content}}

{{/layout}}
