{{<layout}}

{{$pageTitle}}
Register to look after children
{{/pageTitle}}

{{$content}}

<main id="content" role="main">


	<div class="grid-row">
	    <div class="column-two-thirds">

				<p><h1 class="heading-xlarge">Register to look after children</h1>

				<h2 class="heading-medium">What is age group of the child or children?</h2>

				<fieldset>
			    <legend class="form-label-bold"></legend>
			    <p>Select all that apply</p>
			    <label class="block-label" for="checkbox-1">
			      <input id="checkbox-1" type="checkbox" value="waste-animal">
			    	5 and under
			    </label>
			    <label class="block-label" for="checkbox-2">
			      <input id="checkbox-2" type="checkbox" value="waste-mines">
			      6 to 7
			    </label>
			    <label class="block-label" for="checkbox-3">
			      <input id="checkbox-3" type="checkbox" value="farm-agricultural">
			      8 and over
			    </label>
			  </fieldset>



	    </div>
	    <div class="column-third">
	      <p></p>
	    </div>
	  </div>




		<a href="will-you-be-paid"><button class="button">Continue</button></a>


</main>
</div>
{{/content}}

{{/layout}}
