{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="column-two-thirds">


	<h1 class="heading-xlarge">Set up Digital Take-up</h1>

	<div class="complete-header">
	<h2>Successfully added data for <br>week 8 to 14 August 2015</h2>
	</div>

<h2 class="heading-medium">

    You can still edit your data
</h2>


  <table class="summary-item-body">
    <thead class="summary-item-field-headings-visible">
      <tr>

          <th scope="col" class="summary-item-field-heading-first">
						Number of users in the week 8 to 14 August 2015

          </th>

          <th scope="col" class="summary-item-field-heading">


						<a href="#">Edit</a>
          </th>

          <th scope="col" class="summary-item-field-heading">


          </th>

      </tr>
    </thead>
    <tbody>









			<tr class="summary-item-row">

				<td class="summary-item-field-first-wider">
				<span>
				Website users
			</span>
			</td>
				<td class="summary-item-field">
				<span>
				391
			</span>
			</td>
				<td class="summary-item-field-with-action">
				<span>
			</span>
			</td>

			</tr>

  <tr class="summary-item-row">

    <td class="summary-item-field-first-wider">
    <span>
    API users
  </span>
  </td>
    <td class="summary-item-field">
    <span>
    391
  </span>
  </td>
    <td class="summary-item-field-with-action">
    <span>
  </span>
  </td>

  </tr>

	<tr class="summary-item-row">

		<td class="summary-item-field-first-wider">
		<span>
		Telephone (manual) users
	</span>
	</td>
		<td class="summary-item-field">
		<span>
		497
	</span>
	</td>
		<td class="summary-item-field-with-action">
		<span>
	</span>
	</td>

	</tr>


		<tr class="summary-item-row">

			<td class="summary-item-field-first-wider">
			<span>
Textphone users
		</span>
		</td>
			<td class="summary-item-field">
			<span>
			497
		</span>
		</td>
			<td class="summary-item-field-with-action">
			<span>
		</span>
		</td>

		</tr>



			<tr class="summary-item-row">

				<td class="summary-item-field-first-wider">
				<span>
				Paper form users
			</span>
			</td>
				<td class="summary-item-field">
				<span>
				497
			</span>
			</td>
				<td class="summary-item-field-with-action">
				<span>
			</span>
			</td>

			</tr>


<!--
  <tr class="summary-item-row">

    <td class="summary-item-field-first-wider">
    <span>
    <a href="#"></a>
  </span>
  </td>
    <td class="summary-item-field">
    <span>
    IaaS
  </span>
  </td>
    <td class="summary-item-field-with-action">
    <span>
    <a href="#">Edit</a>
  </span>
  </td>

  </tr>
-->


    </tbody>
  </table>

<br>

<p><a href="manage-dashboard"><button class="button">Save and return to dashboard</button></a></p>



</main>
</div>
</div>
{{/content}}

{{/layout}}
