{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Completion rate</h1>

	<div class="complete-header">
	<h2>Google Analytics connected successfully</h2>
	</div>

	<h2 class="heading-large">Add Google Analytics goals</h2>


	<h2 class="heading-medium">Select your profile</h2>


<div class="form-block">
	<label class="block-label" for="radio-1">
	<input id="radio-1" type="radio" name="radio-group" value="profile1">
	6. Single Domain (Entire site - UNFILTERED)
</label>
<label class="block-label" for="radio-2">
	<input id="radio-2" type="radio" name="radio-group" value="profil2">
	Placeholder
</label>

</div>


<h2 class="heading-medium">Select your goal</h2>

<div class="form-block">
<label class="block-label" for="radio-3">
<input id="radio-3" type="radio" name="radio-group" value="goal1">
Home &gt; Search &gt; CONTENT
</label>
<label class="block-label" for="radio-4">
<input id="radio-4" type="radio" name="radio-group" value="goal2">
Home &gt; Category &gt; Sub-Category &gt; CONTENT

</label>
<label class="block-label" for="radio-5">
<input id="radio-5" type="radio" name="radio-group" value="goal3">
Electoral Registration service
</label>

<label class="block-label" for="radio-6">
<input id="radio-6" type="radio" name="radio-group" value="goal4">
/done/ Service pages


</label>
<label class="block-label" for="radio-7">
<input id="radio-7" type="radio" name="radio-group" value="goal5">
Internal Search results page
</label>
</div>








<!--
<div class="option-select-container">
	<div class="govuk-option-select js-collapsible">
	  <div class="container-head js-container-head">
	    <div class="option-select-label">Profile</div>
	  <a class="js-clear-selected js-hidden">clear</a><div class="js-toggle-indicator"></div></div>
	  <div class="options-container" style="max-height: none; height: 40px;">
	    <div class="js-auto-height-inner">

	        <label for="serviceTypes-accounting-and-finance">
	          <input name="serviceTypes" value="accounting and finance" id="serviceTypes-accounting-and-finance" type="checkbox" aria-controls="">
	          6. Single Domain (Entire site - UNFILTERED)
	        </label>




	    </div>
	  </div>
	</div>
</div>

           
           
           
           -->


<!--


<div class="option-select-container">
	<div class="govuk-option-select js-collapsible">
	  <div class="container-head js-container-head">
	    <div class="option-select-label">Goals</div>
	  <a class="js-clear-selected js-hidden">clear</a><div class="js-toggle-indicator"></div></div>
	  <div class="options-container" style="max-height: none; height: 200px;">
	    <div class="js-auto-height-inner">

	        <label for="serviceTypes-accounting-and-finance">
	          <input name="serviceTypes" value="accounting and finance" id="serviceTypes-accounting-and-finance" type="checkbox" aria-controls="">
						Home &gt; Search &gt; CONTENT

	        </label>

	        <label for="serviceTypes-business-intelligence-and-analytics">
	          <input name="serviceTypes" value="business intelligence and analytics" id="serviceTypes-business-intelligence-and-analytics" type="checkbox" aria-controls="">
						Home &gt; Category &gt; Sub-Category &gt; CONTENT

	        </label>

	        <label for="serviceTypes-collaboration">
	          <input name="serviceTypes" value="collaboration" id="serviceTypes-collaboration" type="checkbox" aria-controls="">
						Electoral Registration service

	        </label>

					<label for="serviceTypes-accounting-and-finance">
						<input name="serviceTypes" value="accounting and finance" id="serviceTypes-accounting-and-finance" type="checkbox" aria-controls="">
						/done/ Service pages

					</label>

					<label for="serviceTypes-business-intelligence-and-analytics">
						<input name="serviceTypes" value="business intelligence and analytics" id="serviceTypes-business-intelligence-and-analytics" type="checkbox" aria-controls="">
						Internal Search results page
					</label>




				</div>
	    </div>
	  </div>
	</div>

-->



  <details>
    <summary><span class="summary">I can't find my goal</span></summary>
    <div class="panel-indent">
      <p>
				Goals are set up in Google Analytics. In the first instance you should ask the person within your organisation who deals with Google Analytics.</p>

				<p>Google’s Help Pages also contain more information about goals.
      </p>
    </div>
  </details>





<p><a href="cr-confirm-goal"><button class="button">Save and continue</button></a></p>


<p><a href="manage-dashboard">Back</a></p>


</main>
</div>
{{/content}}

{{/layout}}
