{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Completion rate</h1>


	<h2 class="heading-medium">Add Google Analytics goals</h2>

	<p>Google Analytics was connected successfully</p>

<p>Now add your goals.</p>

	<h2 class="heading-medium">Select your goal</h2>

	<p><span class="bold-small">Profile</span></p>

<div class="option-select-container">
	<div class="govuk-option-select js-collapsible">
	  <div class="container-head js-container-head">
	    <div class="option-select-label">Categories</div>
	  <a class="js-clear-selected js-hidden">clear</a><div class="js-toggle-indicator"></div></div>
	  <div class="options-container" style="max-height: none; height: 171.111px;">
	    <div class="js-auto-height-inner">

	        <label for="serviceTypes-accounting-and-finance">
	          <input name="serviceTypes" value="accounting and finance" id="serviceTypes-accounting-and-finance" type="checkbox" aria-controls="">
	          Accounting and finance
	        </label>

	        <label for="serviceTypes-business-intelligence-and-analytics">
	          <input name="serviceTypes" value="business intelligence and analytics" id="serviceTypes-business-intelligence-and-analytics" type="checkbox" aria-controls="">
	          Business intelligence and analytics
	        </label>

	        <label for="serviceTypes-collaboration">
	          <input name="serviceTypes" value="collaboration" id="serviceTypes-collaboration" type="checkbox" aria-controls="">
	          Collaboration
	        </label>


	    </div>
	  </div>
	</div>
</div>

           
           
           
           

	<p><span class="bold-small">Goal</span></p>

<div class="option-select-container">
	<div class="govuk-option-select js-collapsible">
	  <div class="container-head js-container-head">
	    <div class="option-select-label">Categories</div>
	  <a class="js-clear-selected js-hidden">clear</a><div class="js-toggle-indicator"></div></div>
	  <div class="options-container" style="max-height: none; height: 171.111px;">
	    <div class="js-auto-height-inner">

	        <label for="serviceTypes-accounting-and-finance">
	          <input name="serviceTypes" value="accounting and finance" id="serviceTypes-accounting-and-finance" type="checkbox" aria-controls="">
						Home &gt; Search &gt; CONTENT

	        </label>

	        <label for="serviceTypes-business-intelligence-and-analytics">
	          <input name="serviceTypes" value="business intelligence and analytics" id="serviceTypes-business-intelligence-and-analytics" type="checkbox" aria-controls="">
						Home &gt; Category &gt; Sub-Category &gt; CONTENT

	        </label>

	        <label for="serviceTypes-collaboration">
	          <input name="serviceTypes" value="collaboration" id="serviceTypes-collaboration" type="checkbox" aria-controls="">
						Electoral Registration service

	        </label>

					<label for="serviceTypes-accounting-and-finance">
						<input name="serviceTypes" value="accounting and finance" id="serviceTypes-accounting-and-finance" type="checkbox" aria-controls="">
						/done/ Service pages

					</label>

					<label for="serviceTypes-business-intelligence-and-analytics">
						<input name="serviceTypes" value="business intelligence and analytics" id="serviceTypes-business-intelligence-and-analytics" type="checkbox" aria-controls="">
						Internal Search results page
					</label>

		


				</div>
	    </div>
	  </div>
	</div>

  <details>
    <summary><span class="summary">I can't find my goal</span></summary>
    <div class="panel-indent">
      <p>
				Goals are set up in Google Analytics. In the first instance you should ask the person within your organisation who deals with Google Analytics.</p>

				<p>Google’s Help Pages also contain more information about goals.
      </p>
    </div>
  </details>





	<a href="ga"><button class="button">Save and continue</button></a>


<p><a href="manage-dashboard">Back</a></p>


</main>
</div>
{{/content}}

{{/layout}}
