{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Completion rate</h1>


	<h2 class="heading-medium">Add Google Analytics goals</h2>

	<p>Google Analytics was connected successfully</p>

<p>Now add your goals.</p>

	<h2 class="heading-medium">Select your goal</h2>

	<p><span class="bold-small">Profile</span></p>

<div class="option-select-container">
	<div class="govuk-option-select js-collapsible">
	  <div class="container-head js-container-head">
	    <div class="option-select-label">Categories</div>
	  <a class="js-clear-selected js-hidden">clear</a><div class="js-toggle-indicator"></div></div>
	  <div class="options-container" style="max-height: none; height: 171.111px;">
	    <div class="js-auto-height-inner">

	        <label for="serviceTypes-accounting-and-finance">
	          <input name="serviceTypes" value="accounting and finance" id="serviceTypes-accounting-and-finance" type="checkbox" aria-controls="">
	          Accounting and finance
	        </label>

	        <label for="serviceTypes-business-intelligence-and-analytics">
	          <input name="serviceTypes" value="business intelligence and analytics" id="serviceTypes-business-intelligence-and-analytics" type="checkbox" aria-controls="">
	          Business intelligence and analytics
	        </label>

	        <label for="serviceTypes-collaboration">
	          <input name="serviceTypes" value="collaboration" id="serviceTypes-collaboration" type="checkbox" aria-controls="">
	          Collaboration
	        </label>

	        <label for="serviceTypes-creative-and-design">
	          <input name="serviceTypes" value="creative and design" id="serviceTypes-creative-and-design" type="checkbox" aria-controls="">
	          Creative and design
	        </label>

	        <label for="serviceTypes-customer-relationship-management-(crm)">
	          <input name="serviceTypes" value="customer relationship management (crm)" id="serviceTypes-customer-relationship-management-(crm)" type="checkbox" aria-controls="">
	          Customer relationship management (CRM)
	        </label>

	        <label for="serviceTypes-data-management">
	          <input name="serviceTypes" value="data management" id="serviceTypes-data-management" type="checkbox" aria-controls="">
	          Data management
	        </label>

	        <label for="serviceTypes-electronic-document-and-records-management-(edrm)">
	          <input name="serviceTypes" value="electronic document and records management (edrm)" id="serviceTypes-electronic-document-and-records-management-(edrm)" type="checkbox" aria-controls="">
	          Electronic document and records management (EDRM)
	        </label>

	        <label for="serviceTypes-energy-and-environment">
	          <input name="serviceTypes" value="energy and environment" id="serviceTypes-energy-and-environment" type="checkbox" aria-controls="">
	          Energy and environment
	        </label>

	        <label for="serviceTypes-healthcare">
	          <input name="serviceTypes" value="healthcare" id="serviceTypes-healthcare" type="checkbox" aria-controls="">
	          Healthcare
	        </label>

	        <label for="serviceTypes-human-resources-and-employee-management">
	          <input name="serviceTypes" value="human resources and employee management" id="serviceTypes-human-resources-and-employee-management" type="checkbox" aria-controls="">
	          Human resources and employee management
	        </label>

	        <label for="serviceTypes-it-management">
	          <input name="serviceTypes" value="it management" id="serviceTypes-it-management" type="checkbox" aria-controls="">
	          IT management
	        </label>

	        <label for="serviceTypes-legal">
	          <input name="serviceTypes" value="legal" id="serviceTypes-legal" type="checkbox" aria-controls="">
	          Legal
	        </label>

	        <label for="serviceTypes-libraries">
	          <input name="serviceTypes" value="libraries" id="serviceTypes-libraries" type="checkbox" aria-controls="">
	          Libraries
	        </label>

	        <label for="serviceTypes-marketing">
	          <input name="serviceTypes" value="marketing" id="serviceTypes-marketing" type="checkbox" aria-controls="">
	          Marketing
	        </label>

	        <label for="serviceTypes-operations-management">
	          <input name="serviceTypes" value="operations management" id="serviceTypes-operations-management" type="checkbox" aria-controls="">
	          Operations management
	        </label>

	        <label for="serviceTypes-project-management-and-planning">
	          <input name="serviceTypes" value="project management and planning" id="serviceTypes-project-management-and-planning" type="checkbox" aria-controls="">
	          Project management and planning
	        </label>

	        <label for="serviceTypes-sales">
	          <input name="serviceTypes" value="sales" id="serviceTypes-sales" type="checkbox" aria-controls="">
	          Sales
	        </label>

	        <label for="serviceTypes-schools-and-education">
	          <input name="serviceTypes" value="schools and education" id="serviceTypes-schools-and-education" type="checkbox" aria-controls="">
	          Schools and education
	        </label>

	        <label for="serviceTypes-security">
	          <input name="serviceTypes" value="security" id="serviceTypes-security" type="checkbox" aria-controls="">
	          Security
	        </label>

	        <label for="serviceTypes-software-development-tools">
	          <input name="serviceTypes" value="software development tools" id="serviceTypes-software-development-tools" type="checkbox" aria-controls="">
	          Software development tools
	        </label>

	        <label for="serviceTypes-telecoms">
	          <input name="serviceTypes" value="telecoms" id="serviceTypes-telecoms" type="checkbox" aria-controls="">
	          Telecoms
	        </label>

	        <label for="serviceTypes-transport-and-logistics">
	          <input name="serviceTypes" value="transport and logistics" id="serviceTypes-transport-and-logistics" type="checkbox" aria-controls="">
	          Transport and logistics
	        </label>

	    </div>
	  </div>
	</div>
</div>



	<p><span class="bold-small">Goal</span></p>

<div class="option-select-container">
	<div class="govuk-option-select js-collapsible">
	  <div class="container-head js-container-head">
	    <div class="option-select-label">Categories</div>
	  <a class="js-clear-selected js-hidden">clear</a><div class="js-toggle-indicator"></div></div>
	  <div class="options-container" style="max-height: none; height: 171.111px;">
	    <div class="js-auto-height-inner">

	        <label for="serviceTypes-accounting-and-finance">
	          <input name="serviceTypes" value="accounting and finance" id="serviceTypes-accounting-and-finance" type="checkbox" aria-controls="">
	          Goal 1
	        </label>

	        <label for="serviceTypes-business-intelligence-and-analytics">
	          <input name="serviceTypes" value="business intelligence and analytics" id="serviceTypes-business-intelligence-and-analytics" type="checkbox" aria-controls="">
	          Goal 2
	        </label>

	        <label for="serviceTypes-collaboration">
	          <input name="serviceTypes" value="collaboration" id="serviceTypes-collaboration" type="checkbox" aria-controls="">
	          Goal 3
	        </label>

					<label for="serviceTypes-accounting-and-finance">
						<input name="serviceTypes" value="accounting and finance" id="serviceTypes-accounting-and-finance" type="checkbox" aria-controls="">
						Goal 4
					</label>

					<label for="serviceTypes-business-intelligence-and-analytics">
						<input name="serviceTypes" value="business intelligence and analytics" id="serviceTypes-business-intelligence-and-analytics" type="checkbox" aria-controls="">
						Goal 5
					</label>

					<label for="serviceTypes-collaboration">
						<input name="serviceTypes" value="collaboration" id="serviceTypes-collaboration" type="checkbox" aria-controls="">
						Goal 6
					</label>



				</div>
	    </div>
	  </div>
	</div>

  <details>
    <summary><span class="summary">I can't find my goal</span></summary>
    <div class="panel-indent">
      <p>
				Goals are set up in Google Analytics. In the first instance you should ask the person within your organisation who deals with Google Analytics.</p>

				<p>Google’s Help Pages also contain more information about goals.
      </p>
    </div>
  </details>





	<a href="ga"><button class="button">Save and continue</button></a>


<p><a href="manage-dashboard">Back</a></p>


</main>
</div>
{{/content}}

{{/layout}}
