{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="column-two-thirds">


	<h1 class="heading-xlarge">Set up Completion Rate</h1>

<div class="complete-header">
<h2>Successfully set up</h2>
</div>

<h2 class="heading-medium">

    Completion rate profile and goal settings
</h2>


  <table class="summary-item-body">
    <thead class="summary-item-field-headings-visible">
      <tr>

          <th scope="col" class="summary-item-field-heading-first">


          </th>

          <th scope="col" class="summary-item-field-heading">



          </th>

          <th scope="col" class="summary-item-field-heading">

						<a href="#">Edit</a>

          </th>

      </tr>
    </thead>
    <tbody>



  <tr class="summary-item-row">

    <td class="summary-item-field-first-wider">
    <span class="bold-xsmall">
    Profile
  </span>
  </td>
    <td class="summary-item-field">
    <span>
  	6. Single Domain (Entire site - UNFILTERED)
		<br>
  </span>
  </td>
    <td class="summary-item-field-with-action">

  </td>

  </tr>



  <tr class="summary-item-row">

    <td class="summary-item-field-first-wider">
			<span class="bold-xsmall">
    Goal
  </span>
  </td>
    <td class="summary-item-field">
    <span>
    Home > Category > Sub-Category > CONTENT
  </span>
  </td>
    <td class="summary-item-field-with-action">
    <span>
  </span>
  </td>

  </tr>


<!--
  <tr class="summary-item-row">

    <td class="summary-item-field-first-wider">
    <span>
    <a href="#"></a>
  </span>
  </td>
    <td class="summary-item-field">
    <span>
    IaaS
  </span>
  </td>
    <td class="summary-item-field-with-action">
    <span>
    <a href="#">Edit</a>
  </span>
  </td>

  </tr>
-->


    </tbody>
  </table>

<br>

<p><a href="manage-dashboard"><button class="button">Return to dashboard</button></a></p>

<p><a href="cr-add-goal">Back</a>



</main>
</div>
</div>
{{/content}}

{{/layout}}
