{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<style>
	.header-wrapper {
	    display: none;
		}

			#global-header-bar {
				display: none !important;
			}

			.group js-footer {
				display: none;
			}

			.footer-wrapper {
				display: none;
			}
			#footer {
				display: none;
			}
</style>

<main id="content">

	<p align="center">

<a href="cr-add-goal">
	<img src="public/images/account-picker.png" style="padding-top: 150px">

</a>
</p>



</main>
</div>
{{/content}}

{{/layout}}
