{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Completion rate</h1>


	<h2 class="heading-medium">Connect to Google Analytics </h2>

	<p>Once signed in you’ll be able to select your profile and goal.</p>

	<p>We will only be asking for read access of your data. </p>

	<p>You can revoke this connection at any time in your Google Analytics account. </p>


<a href="ga"><button class="button">Connect to Google Analytics</button></a>


<p><a href="manage-dashboard">Back</a></p>


</main>
</div>
{{/content}}

{{/layout}}
