{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Set up Digital Take-up</h1>


	<p></p>

<h2 class="heading-large">Dates for data provided</h2>
	<div class="form-group">
	  <fieldset>
	    <legend class="form-label">The digital take-up data is for the week commencing:</legend>

	    <div class="form-date">

	      <p class="form-hint">For example, 31 3 2015</p>

	      <div class="form-group form-group-day">
	        <label for="dob-day">Day</label>
	        <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
	      </div>

	      <div class="form-group form-group-month">
	        <label for="dob-month">Month</label>
	        <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
	      </div>

	      <div class="form-group form-group-year">
	        <label for="dob-year">Year</label>
	        <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2015">
	      </div>
	    </div>

	  </fieldset>
	</div>


<a href="confirm-setup"><button class="button">Next</button></a>


<p><a href="12a-dashboard">Back</a></p>


</main>
</div>
{{/content}}

{{/layout}}
