{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Digital take-up data</h1>

<h2 class="heading-large">Data collection frequency</h2>
	<p>How regularly do you collect data?</p>

	<div class="form-group form-group-compound">

<fieldet>
	<label class="block-label" for="radio-1">
    <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
    Weekly
  </label>
  <label class="block-label" for="radio-2">
    <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
    Monthly
  </label>
  <label class="block-label" for="radio-3">
    <input id="radio-3" type="radio" name="radio-group" value="I am a British citizen living abroad">
    Quarterly
  </label>
</fieldset>
</div>
<br>
<p><a href="data-period"><button class="button">Next</button></a></p>


<p><a href="10-channels">Back</a></p>


</main>
</div>
{{/content}}

{{/layout}}
