{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Digital Take-up</h1>


<h2 class="heading-medium">

	    Settings
</h2>


  <table class="summary-item-body">
    <thead class="summary-item-field-headings-visible">
      <tr>

          <th scope="col" class="summary-item-field-heading-first">


          </th>

          <th scope="col" class="summary-item-field-heading">



          </th>

          <th scope="col" class="summary-item-field-heading">


          </th>

      </tr>
    </thead>
    <tbody>



  <tr class="summary-item-row">

    <td class="summary-item-field-first-wider">
    <span class="bold-xsmall">
    Service channels
  </span>
  </td>
    <td class="summary-item-field">
    <span>
    <span class="bold-xsmall">Digital:</span><br>
		Online, API
		<br>
	<span class="bold-xsmall">Offline:</span><br>
		Face to face, Telephone (operator)
  </span>
  </td>
    <td class="summary-item-field-with-action">
			<a href="#">Edit</a>

  </td>

  </tr>




  <tr class="summary-item-row">

    <td class="summary-item-field-first-wider">
    <span class="bold-xsmall">
    How regularly do you collect data?
  </span>
  </td>
    <td class="summary-item-field">
    <span>
    Weekly
  </span>
  </td>
    <td class="summary-item-field-with-action">
    <span>
    <a href="#">Edit</a>
  </span>
  </td>

  </tr>

    </tbody>
  </table>


	<h2 class="heading-medium">Data	</h2>

	<ul>
		<li>Week ending 4 September 2015 <a href="#">Edit</a></li>
		<li>Week ending 28 August 2015 <a href="#">Edit</a></li>
		<li>Week ending 21 August 2015 <a href="#">Edit</a></li>
		<li>Week ending 14 August 2015 <a href="#">Edit</a></li>
	</ul>



<br>

<p><a href="manage-dashboard">Return to dashboard</a>



</main>
</div>
{{/content}}

{{/layout}}
