{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">


	<h1 class="heading-xlarge">Digital Take-up</h1>

<div class="intro-block">
<p>Digital take-up is a long term strategic measure of how well digital by default service is working. You’ll monitor this on a monthly basis to track that it’s on course with the desired performance levels. <a href="https://www.gov.uk/service-manual/measurement/digital-takeup.html">Read more on the service manual</a> </p>
</div>

<h2 class="heading-large">

	    Settings
</h2>


  <table class="summary-item-body">
    <thead class="summary-item-field-headings-visible">
      <tr>

          <th scope="col" class="summary-item-field-heading-first">


          </th>

          <th scope="col" class="summary-item-field-heading">



          </th>

          <th scope="col" class="summary-item-field-heading">


          </th>

      </tr>
    </thead>
    <tbody>



  <tr class="summary-item-row">

    <td class="summary-item-field-first-wider">
    <span class="bold-xsmall">
    Service channels
  </span>
  </td>
    <td class="summary-item-field">
    <span>
    <span class="bold-xsmall">Digital:</span><br>
		Online, API
		<br>
	<span class="bold-xsmall">Offline:</span><br>
		Face to face, Telephone (operator)
  </span>
  </td>
    <td class="summary-item-field-with-action">
			<a href="#">Edit</a>

  </td>

  </tr>




  <tr class="summary-item-row">

    <td class="summary-item-field-first-wider">
    <span class="bold-xsmall">
    How regularly do you collect data?
  </span>
  </td>
    <td class="summary-item-field">
    <span>
    Weekly
  </span>
  </td>
    <td class="summary-item-field-with-action">
    <span>
    <a href="#">Edit</a>
  </span>
  </td>

  </tr>

    </tbody>
  </table>






<h2 class="summary-item-heading">

</h2>


  <table class="summary-item-body">
    <caption class="visuallyhidden">
      Summary table with name field as link
    </caption>
    <thead class="summary-item-field-headings-visible">
      <tr>

          <th scope="col" class="summary-item-field-heading-first">

              Time period

          </th>

          <th scope="col" class="summary-item-field-heading">



          </th>

          <th scope="col" class="summary-item-field-heading">

              <span class="hidden">Action</span>

          </th>

      </tr>
    </thead>
    <tbody>

			<h2 class="heading-large">Data</h2>

			<h2 class="heading-medium">Current week	</h2>

			<ul>
			<li>Week ending 4 September 2015 </li>
			</li>

			<button class="button">Add data for this week</button>

			<h2 class="heading-medium">2015</h2>

  <tr class="summary-item-row">

    <td class="summary-item-field-first-wider">
    <span>
    <a href="#">31 August to 6 September</a>
  </span>
  </td>
    <td class="summary-item-field">
    <span>
    Complete
  </span>
  </td>
    <td class="summary-item-field-with-action">
    <span>
    <form method="post" action="#">
      <input type="hidden" name="csrf_token" value="random" />
      <button type="submit" class="button-secondary">Manage</button>
    </form>
  </span>
  </td>

  </tr>



  <tr class="summary-item-row">

    <td class="summary-item-field-first-wider">
    <span>
    <a href="#">24 August to 29 August</a>
  </span>
  </td>
    <td class="summary-item-field">
    <span>
    Complete
  </span>
  </td>
    <td class="summary-item-field-with-action">
    <span>
    <form method="post" action="#">
      <input type="hidden" name="csrf_token" value="random" />
      <button type="submit" class="button-secondary">Manage</button>
    </form>
  </span>
  </td>

  </tr>



  <tr class="summary-item-row">

    <td class="summary-item-field-first-wider">
    <span>
    <a href="#">17 August to 23 August </a>
  </span>
  </td>
    <td class="summary-item-field">
    <span>
  </span>
  </td>
    <td class="summary-item-field-with-action">
    <span>
    <form method="post" action="#">
      <input type="hidden" name="csrf_token" value="random" />
			<button class="button">Add data</button>
    </form>
  </span>
  </td>

  </tr>


	  <tr class="summary-item-row">

	    <td class="summary-item-field-first-wider">
	    <span>
	    <a href="#">10 August to 16 August </a>
	  </span>
	  </td>
	    <td class="summary-item-field">
	    <span>
	  </span>
	  </td>
	    <td class="summary-item-field-with-action">
	    <span>
	    <form method="post" action="#">
	      <input type="hidden" name="csrf_token" value="random" />
				<button class="button">Add data</button>
	    </form>
	  </span>
	  </td>

	  </tr>

		<tr class="summary-item-row">

			<td class="summary-item-field-first-wider">
			<span>
			<a href="#">3 August to 9 August  </a>
		</span>
		</td>
			<td class="summary-item-field">
			<span>
		</span>
		</td>
			<td class="summary-item-field-with-action">
			<span>
			<form method="post" action="#">
				<input type="hidden" name="csrf_token" value="random" />
				<button class="button">Add data</button>
			</form>
		</span>
		</td>

		</tr>





    </tbody>
  </table>





<br>

<p><a href="manage-dashboard">Return to dashboard</a>



</main>
</div>
</div>
{{/content}}

{{/layout}}
