{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Digital Take-up</h1>


<h2 class="heading-medium">

	    Settings
</h2>


  <table class="summary-item-body">
    <thead class="summary-item-field-headings-visible">
      <tr>

          <th scope="col" class="summary-item-field-heading-first">


          </th>

          <th scope="col" class="summary-item-field-heading">



          </th>

          <th scope="col" class="summary-item-field-heading">


          </th>

      </tr>
    </thead>
    <tbody>



  <tr class="summary-item-row">

    <td class="summary-item-field-first-wider">
    <span class="bold-xsmall">
    How do users complete your service?
  </span>
  </td>
    <td class="summary-item-field">
    <span>
    Digital:<br>
		Online, API
		<br>
		Offline:<br>
		Face to face, Telephone (operator)
  </span>
  </td>
    <td class="summary-item-field-with-action">
			<a href="#">Edit</a>

  </td>

  </tr>




  <tr class="summary-item-row">

    <td class="summary-item-field-first-wider">
    <span class="bold-xsmall">
    How regularly do you collect data?
  </span>
  </td>
    <td class="summary-item-field">
    <span>
    Weekly
  </span>
  </td>
    <td class="summary-item-field-with-action">
    <span>
    <a href="#">Edit</a>
  </span>
  </td>

  </tr>

    </tbody>
  </table>

<br>

<p><a href="manage-dashboard">Return to dashboard</a>



</main>
</div>
{{/content}}

{{/layout}}
