{{<layout}}

{{$pageTitle}}
Early years register
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Early years register</h1>

	<h2 class="heading-medium">Who can register</h2>

	<p>To apply you must:</p>
	<ul class="list-bullet">
	<li>Have the right to work in the UK</li>
	<li>Be 18 of over</li>
	<li>Undergo a disclosure and Barring Service (DBS) check</li>
	<li>Fill in the Health declaration booklet</li>
</ul>

<p>You may be asked to do a health check if Ofsted thinks your health affects your ability to do your job.</p>

	<h2 class="heading-medium">You need to be on this register if</h2>
	<ul class="list-bullet">
		<li>You want to care for children aged up to 5</li>
		<li>You are not related to the child</li>
		<li>You provide care for longer than 2 hours </li>
	</ul>

	<h2 class="heading-medium">You don't need to be on this register if</h2>
	<ul class="list-bullet">
		<li>You care for children age 8 and over</li>
		<li>If you care for children under 8 in domestic premises (eg a home)</li>
		<li>If you provide a home-education arrangement</li>
		<li>If you provide extracurricular activities (up to two of the following: study support, sport, performing arts, arts and crafts, religious study)</li>
	</ul>

	<h2 class="heading-medium">How long it takes</h2>

	<p>Registering usually takes up to:</p>

	<ul class="list-bullet">
	<li>12 weeks for childminders and home childcarers</li>
	<li>25 weeks for a childcare providers on domestic or non-domestic premises</li>

	<a href="number-of-children"><button class="button">Start now</button></a>
	</div>

</main>
</div>
{{/content}}

{{/layout}}
