{{<layout}}

{{$pageTitle}}
Performance Platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Performance platform</h1>

	<h2 class="heading-large">Self-serve prototype</h2>




	<h2 class="heading-large">Admin pages</h2>

	<ol class="list-number">

			<li><a href="1-startpage">Start page</a>
		</li>
		<li>
			<a href="4-email">Email from Performance Platform</a>
		</li>

		<li>
			<a href="7-dashboards">Dashboard List (logged in via Sign-On)</a>
		</li>
		<li>
			<a href="manage-dashboard">Manage Dashboard</a>
		</li>

</ol>

<h2 class="heading-large">Digital Take-up</h2>
<h2 class="heading-medium">Set up KPI</h2>

	<ol class="list-number">
		<li><a href="service-channels">Service channels</a></li>
		<li><a href="data-frequency">Data frequency</a></li>
		<li><a href="confirm-setup">Confirm options</a></li>
	</ol>

	<h2 class="heading-medium">Add data</h2>

	<ol class="list-number">
		<li><a href="data-period">Data period</a></li>
		<li><a href="add-data">Add data</a></li>
		<li><a href="confirm-data">Confirm data</a></li>
	</ol>

	<h2 class="heading-large">Completion rate</h2>

		<ol class="list-number">
			<li><a href="cr-google-analytics">Connect to Google Analytics</a></li>
			<li><a href="cr-google-analytics">Pick profile and goal</a></li>
			<li><a href="cr-google-analytics">Success / check profile and goal</a></li>


</ol>



</ol>



</main>

{{/content}}

{{/layout}}
