{{<layout}}

{{$pageTitle}}
Performance Platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Performance platform</h1>

	<h2 class="heading-large">Self-serve prototype</h2>




	<h2 class="heading-large">Admin pages</h2>

	<ol class="list-number">

			<li><a href="1-startpage">Start page</a>
		</li>
		<li>
			<a href="4-email">Email from Performance Platform</a>
		</li>

		<li>
			<a href="7-dashboards">Dashboard List (logged in via Sign-On)</a>
		</li>
		<li>
			<a href="manage-dashboard">Manage Dashboard</a>
		</li>

</ol>

<h2 class="heading-large">Digital Take-up</h2>
<h2 class="heading-medium">Set up KPI</h2>

	<ol class="list-number">
		<li><a href="manage-dashboard">Manage dashboard</a></li>
		<li><a href="service-channels">Service channels</a></li>
		<li><a href="data-frequency">Data frequency</a></li>
		<li><a href="data-period">Data period</a></li>
		<li><a href="confirm-setup">Confirm options</a></li>
	</ol>

	<h2 class="heading-medium">Add data</h2>

	<ol class="list-number">
		<li><a href="add-data">Add data</a></li>
		<li><a href="confirm-data">Confirm data</a></li>
	</ol>






</ol>
		<!--
		<li>
			<a href="/home-ed">Are you providing a home education?</a>
		</li>
		<li>
			<a href="/extra-curr">Do you provide extracurricular activities?</a>
		</li>
		<li>
			<a href="/caring-time">How many hours per day approximately will you care for the child?</a>
		</li>
		<li>
			<a href="/care-time-period">Do you provide care between 6pm and 2am on domestic premises?</a>
		</li>
		<li>
			<a href="/care-day-period">Do you provide care for under 14 days in a year?</a>
		</li>
	-->




<!--
	<h2 class="heading-large">Apply to be a childminder</h2>
	<ul>
		<li>
			<a href="/apply-childminder">[...]</a>
		</li>

	</ul>
-->


</main>

{{/content}}

{{/layout}}
