{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">



	<div id="global-breadcrumb" class="header-context">
	    <nav role="navigation">
	      <ol class="group">
	        <li><a href="/">Home</a></li>
	        <li><a href="">Manage dashboards</a></li>
					<li>Employment tribunal claims dashboards</li>

	      </ol>
	    </nav>
	  </div>


	<p class="font-medium">Manage dashboard</p>
	<h1 class="heading-xlarge">Employment tribunal claims <span class="dashboard-status-unpublished">Unpublished</span></h1>

<div class="manage-buttons">
<a href="send-to-pp"><p><button class="button-secondary">Submit for approval</button></a><span class="font-small"><a href="#">Delete dashboard</a></span></p>
</div>

<!--<p>Signed in as Bojack Horseman <br><a href="https://gov.uk">Sign out</a></p>-->




	<h1 class="heading-large">Service description</h1>

	<p>Data for claims against an employer who has broken the law or treated employees unfairly. <a href="#">Edit</a></p>




<h1 class="heading-large">Data</h1>

<p>Definitions of the four service KPIs (Key Performance Indicators) can be found in the <a href="https://www.gov.uk/service-manual/measurement">service manual</a>.</p>


<div class="add-kpi"><div class="kpi-added"></div><span class="bold-medium">Cost per transaction</span><span class="manage-options"><a href="digitaltakeup">Manage</a> </span>

<p>Edited 10 September 2015 by Princess Carolyn</p></div>

<div class="add-kpi"><div class="kpi-added"></div><span class="bold-medium">User satisfaction</span><span class="manage-options"><a href="digitaltakeup">Manage</a> </span>

<p>Edited 10 September 2015 by Mr Peanutbutter</p>
</div>

<div class="add-kpi"><div class="kpi-added"></div><span class="bold-medium">Completion rate</a></span><span class="manage-options"><a href="completion-rate">Manage</a> </span>
	<p>Edited 9 September 2015 by Bojack Horseman</p>
</div>



<div class="add-kpi"><div class="kpi-added"></div><span class="bold-medium">Digital Take-up</span><span class="manage-options"><a href="digitaltakeup">Manage</a> </span>

<p>Data due in 3 days for <a href="add-data">14 September to 17 September 2015</a> <br>Some data is missing. <a href="digitaltakeup">Add data now</a></p>
</div>


<div class="add-kpi"><span class="bold-medium">Completion rate</a>  </span>
<p><a href="start-cr"><button class="button">Add completion rate</button></a></p>

</div>



<div class="add-kpi"><span class="bold-medium">Digital Take-up</span>
		<p><a href="start-dt"><button class="button">Add digital take-up</button></a></p>
</div>



</div>



<!--
<div class="datalinks">
	<p>Add missing data for the weeks:</p>
	<ul>
<li><a href="#">24 August to 30 August 2015</a></li>
<li><a href="#">17 August to 23 August 2015</a></li>
<li><a href="#">10 August to 16 August 2015</a></li>
</div>

-->

</div>




<br>

<!--
<p><span class="font-medium"><a href="#">Add a custom performance indicator</a></span></p>
-->


<h1 class="heading-large">Collaborators</h1>
<ul>
	<li><a href="#">Bojack Horseman</a> (You)</li>
<li><a href="#">Princess Carolyn</a></li>
<li><a href="#">Mr Peanutbutter</a></li>

<a href="#">Add a collaborator</a></p>



</div>






</main>



{{/content}}

{{/layout}}
