{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">


	<div id="global-breadcrumb" class="header-context">
	    <nav role="navigation">
	      <ol class="group">
	        <li><a href="/">Home</a></li>
	        <li><a href="">Manage dashboards</a></li>
					<li>Employment tribunal claims dashboards</li>

	      </ol>
	    </nav>
	  </div>


	<p class="font-medium">Manage dashboard</p>
	<h1 class="heading-xlarge">Employment tribunal claims</h1>

<!--
	<div class="status">
	<div class="dashboard-status-unpublished"><span class="heading-medium">Unpublished</span></div>
</div>-->

<br>
<div class="status">
<div class="dashboard-status-published"><span class="heading-medium">Published</span><br><span class="core-16">Last published 26 August 2015</span></div>
</div>




	<h1 class="heading-large">Service description</h1>

	<p>Data for claims against an employer who has broken the law or treated employees unfairly. <a href="#">Edit</a></p>




<h1 class="heading-large">Data</h1>

<p>Definitions of the four service KPIs (Key Performance Indicators) can be found in the <a href="https://www.gov.uk/service-manual/measurement">service manual</a>.</p>


<div class="add-kpi-1"><span class="heading-medium"><a href="#">Cost per transaction</a></span><span class="manage-options">Last edit 25 August 2015 &nbsp; <a href="digitaltakeup">Manage data</a> </span></div>

<div class="add-kpi-0"><span class="heading-medium"><a href="#">User satisfaction</span></a><span class="manage-options">No data yet &nbsp; <a href="digitaltakeup">Add data</a> </span></div>

<div class="add-kpi-0"><span class="heading-medium"><a href="#">Set up Completion rate</a></span><span class="manage-options">No data yet &nbsp; <!--<a href="digitaltakeup">Add data</a> </span>--></div>

<div class="add-kpi-0"><span class="heading-medium"><a href="add-digital-takeup">Set up Digital Take-Up</a></span> <span class="manage-options">No data yet </span><!-- <span class="manage-options">Last edit 25 August 2015 &nbsp; <a href="digitaltakeup">Manage data</a></span>--></span></div>

<br>

<p><span class="heading-medium"><a href="#">Add a custom performance indicator</a></span></p>



<h1 class="heading-large">Collaborators</h1>

<p>No collaborators have been added to this dashboard.
<a href="#">Add a collaborator</a></p>



</div>
<div class="column-third">
	<div class="admin-links">


<div class="dash-tools">

	<button class="button">Preview dashboard</button>
	<p><a href="#">Publish dashboard</a></p>
		<a href="#">Delete dashboard</a></p>

	<p>Signed in as Bojack Horseman <br><a href="https://gov.uk">Sign out</a></p>


</div>
</div>

</main>



{{/content}}

{{/layout}}
