{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">


	<div id="global-breadcrumb" class="header-context">
	    <nav role="navigation">
	      <ol class="group">
	        <li><a href="/">Home</a></li>
	        <li><a href="">Manage dashboards</a></li>
					<li>Employment tribunal claims dashboards</li>

	      </ol>
	    </nav>
	  </div>


	<p class="font-medium">Manage dashboard</p>
	<h1 class="heading-xlarge">Employment tribunal claims</h1>





	<h1 class="heading-medium">Service description</h1>

	<p>Data for claims against an employer who has broken the law or treated employees unfairly. <a href="#">Edit</a></p>




<h1 class="heading-medium">Dashboard data</h1>

<p>Definitions of the 4 service KPIs can be found in the <a href="https://www.gov.uk/service-manual/measurement">service manual</a>.</p>


<div class="add-kpi-0"><span class="core-19"><a href="#">Add cost per transaction data</a></span></div>

<div class="add-kpi-1"><span class="core-19">User satisfaction data</span><span class="manage-options">Last edit 25 August 2015 &nbsp; <a href="digitaltakeup">Edit data</a> </span></div>

<div class="add-kpi-0"><span class="core-19"><a href="#">Add completion rate data</a></span></div>

<div class="add-kpi-1"><span class="core-19">Digital Take-Up Data<span class="manage-options">Last edit 25 August 2015 &nbsp; <a href="digitaltakeup">Edit data</a> </span></span></div>


<p><a href="#">Add a custom performance indicator</a></p>

<h1 class="heading-medium">Collaborators</h1>

<p>No collaborators have been added to this dashboard.
<a href="#">Add a collaborator</a></p>



</div>
<div class="column-third">
	<div class="admin-links">




<p>Signed in as <span class="heading-small">Bojack Horseman</span> <br><a href="https://gov.uk">Sign out</a></p>

<div class="dashboard-status-draft"><span class="core-19">Private dashboard</span></div>

<div class="dash-tools">
	<p><a href="#">Preview dashboard</a></p>
	<p><a href="#">Publish dashboard</a></p>
	<p><a href="#">Delete dashboard</a></p></div>

</div>
</div>

</main>



{{/content}}

{{/layout}}
