{{<layout}}

{{$pageTitle}}
Become a childminder
{{/pageTitle}}

{{$content}}

<main id="content" role="main">


	<div class="grid-row">
	    <div class="column-two-thirds">

				<p><h1 class="heading-xlarge">Become a childminder</h1>

				<h2 class="heading-medium">How many children will you provide care for?</h2>
				<p>If you'll be looking after more than five children, it's required to be accompanied by another registered childminder.</p>

  <input class="form-control child-age" id="child-age" type="number">



<!--
				<fieldset class="validate inline-fields" data-validation-name="dateOfBirthDate" data-validation-type="fieldset" data-validation-rules="allNonEmpty" data-validation-children="day month year">

      <span class="day field-wrapper">
        <label for="dob_dob_day" class="">
            Day
        </label>
        <input type="number" id="dob_dob_day" name="dob.dob.day" value="" autocomplete="off" class="text  day validate " data-validation-name="day" data-validation-type="field" data-validation-rules="nonEmpty" onkeyup="moveOnMax(this,'dob_dob_month')">
      </span>

      <span class="month field-wrapper">
        <label for="dob_dob_month" class="">
            Month
        </label>
        <input type="number" id="dob_dob_month" name="dob.dob.month" value="" autocomplete="off" class="text  month validate " data-validation-name="month" data-validation-type="field" data-validation-rules="nonEmpty" onkeyup="moveOnMax(this,'dob_dob_year')">
      </span>

      <span class="year field-wrapper">
        <label for="dob_dob_year" class="">
            Year
        </label>
        <input type="number" id="dob_dob_year" name="dob.dob.year" value="" autocomplete="off" class="text  year text validate " data-validation-name="year" data-validation-type="field" data-validation-rules="nonEmpty">
      </span>

        <p class="example">For example: <span class="date">31 3 2010</span></p>
    </fieldset>
-->

	    </div>
	    <div class="column-third">
	      <p></p>
	    </div>
	  </div>




		<a href="domestic-premises"><button class="button">Continue</button></a>


</main>
</div>
{{/content}}

{{/layout}}
