{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">



	<div id="global-breadcrumb" class="header-context">
	    <nav role="navigation">
	      <ol class="group">
	        <li><a href="/">Home</a></li>
	        <li><a href="">Manage dashboards</a></li>
					<li>Employment tribunal claims dashboards</li>

	      </ol>
	    </nav>
	  </div>


	<p class="font-medium">Manage dashboard</p>
	<h1 class="heading-xlarge">Submit dashboard for approval</h1>

	<p>Once your dashboard has been set up, you'll need to submit it to us for approval.</p>


	<p><button class="button">Submit to the Performance Platform for approval</button></p>

</div>






</main>



{{/content}}

{{/layout}}
