{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Digital take-up data</h1>



	<p>What channels do you have for completion of your service?</p>





  <fieldset>
    <legend>
      <span class="form-label-bold">
How do users complete your service?
</span>
    </legend>
    <p>
      Select all options that are relevant to you.
    </p>
    <div class="form-group form-group-compound">
      <label class="block-label" for="website-channel" data-target="percent-of-users">
        <input id="website-channel" type="checkbox" value="Citizen of a different country">
        Website
      </label>
    </div>
    <div class="panel-indent js-hidden" id="percent-of-users">
      <label class="form-label" for="website-channel">What percent of users use this channel?</label>
      <input class="form-control" type="text" id="website-channel">
    </div>

		<div class="form-group form-group-compound">
			<label class="block-label" for="website-channel" data-target="percent-of-users">
				<input id="website-channel" type="checkbox" value="Citizen of a different country">
				Website
			</label>
		</div>
		<div class="panel-indent js-hidden" id="percent-of-users">
			<label class="form-label" for="website-channel">What percent of users use this channel?</label>
			<input class="form-control" type="text" id="website-channel">
		</div>
  </fieldset>






		<p>
		              <fieldset>
		              <label class="block-label" for="check1">
		                <input id="check1" type="checkbox" name="check1" value="I">
		                Website
		              </label>
		              <label class="block-label" for="check2">
		                <input id="check2" type="checkbox" name="check2" value="I">
		                API
		              </label>
		              <label class="block-label" for="check3">
		                <input id="check3" type="checkbox" name="check3" value="I">
		                Other digital channel
		              </label>

		          </fieldset>

		          <label class="form-label" for="other">Name of other digital channel</label>
		          <input class="form-control" id="other" type="text">

</p>

	<h2 class="heading-medium">Non-digital channels</h2>

				<p>
				              <fieldset>
				              <label class="block-label" for="bcheck1">
				                <input id="bcheck1" type="checkbox" name="bcheck1" value="I">
				                Telephone (automated)
				              </label>
				              <label class="block-label" for="bcheck2">
				                <input id="bcheck2" type="checkbox" name="bcheck2" value="I">
				                Telephone (operator)
				              </label>

				              <label class="block-label" for="bcheck4">
				                <input id="bcheck4" type="checkbox" name="bcheck4" value="I">
				                Paper form
				              </label>
				              <label class="block-label" for="bcheck5">
				                <input id="bcheck5" type="checkbox" name="bcheck5" value="I">
				                Face to face
				              </label>
				              <label class="block-label" for="bcheck6">
				                <input id="bcheck6" type="checkbox" name="bcheck6" value="I">
				                Other non-digital channel
				              </label>

				          </fieldset>

				          <label class="form-label" for="other">Name of other non-digital channel</label>
				          <input class="form-control" id="other" type="text">

		</p>






<a href="11-dates"><button class="button">Next</button></a>


<p><a href="9-digitaltakeup">Back</a></p>


</main>
</div>
{{/content}}

{{/layout}}
