{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Set up digital take-up</h1>



	<p>What channels do you have for completion of your service?</p>





  <fieldset>
    <legend>
      <span class="form-label-bold">
How do users complete your service?
</span>
    </legend>
    <p>
      Select all options that are relevant to you.
    </p>
		<span class="heading-medium">Digital channels</span>
    <div class="form-group form-group-compound">
      <label class="block-label" for="website-channel" data-target="website-percent-of-users">
        <input id="website-channel" type="checkbox" value="Percent of users">
        Website
      </label>
		<!--
    <div class="panel-indent js-hidden" id="website-percent-of-users">
      <label class="form-label" for="website-channel">What percent of users use this channel?</label>
      <input class="form-control" type="text" id="website-channel">
    </div>
	-->



			<label class="block-label" for="api-channel" data-target="api-percent-of-users">
				<input id="api-channel" type="checkbox" value="Percent of users">
				API
			</label>
		<!--

		<div class="panel-indent js-hidden" id="api-percent-of-users">
			<label class="form-label" for="api-channel">What percent of users use this channel?</label>
			<input class="form-control" type="text" id="api-channel">
		</div>
-->


			<label class="block-label" for="other-channel" data-target="other-percent-of-users">
				<input id="other-channel" type="checkbox" value="Percent of users">
				Other digital channel
			</label>
		<!--

		<div class="panel-indent js-hidden" id="other-percent-of-users">
			<label class="form-label" for="other-channel">What channel?</label>
			<input class="form-control" type="text" id="channel-name">
			<label class="form-label" for="other-channel">What percent of users use this channel?</label>
			<input class="form-control" type="text" id="other-percent-of-users">
		</div>
	-->

		<br>
	</div>

	<br>



	<div class="form-group form-group-compound">


		<p><span class="heading-medium">Non-digital channels</span></p>


					<label class="block-label" for="phone-channel" data-target="phone-percent-of-users">
						<input id="phone-channel" type="checkbox" value="Percent of users">
						Telephone number (automated)
					</label>
					<!--

				</div>
				<div class="panel-indent js-hidden" id="phone-percent-of-users">
					<label class="form-label" for="phone-channel">What percent of users use this channel?</label>
					<input class="form-control" type="text" id="phone-channel">
				</div>
			-->

					<label class="block-label" for="phone-channel-operator" data-target="phone-op-percent-of-users">
						<input id="phone-channel-operator" type="checkbox" value="Percent of users">
						Telephone number (operator)
					</label>
					<!--

				</div>
				<div class="panel-indent js-hidden" id="phone-op-percent-of-users">
					<label class="form-label" for="phone-channel-operator">What percent of users use this channel?</label>
					<input class="form-control" type="text" id="phone-channel-operator">
				</div>
-->

									<label class="block-label" for="paper-form" data-target="paper-form-percent-of-users">
										<input id="paper-form" type="checkbox" value="Percent of users">
										Paper form
									</label>
								<!--

								<div class="panel-indent js-hidden" id="paper-form-percent-of-users">
									<label class="form-label" for="paper-form">What percent of users use this channel?</label>
									<input class="form-control" type="text" id="paper-form">
								</div>
							-->
																	<label class="block-label" for="face-to-face" data-target="face-to-face-percent-of-users">
																		<input id="face-to-face" type="checkbox" value="Percent of users">
																		Face to face
																	</label>

																<!--

																<div class="panel-indent js-hidden" id="face-to-face-percent-of-users">
																	<label class="form-label" for="face-to-face">What percent of users use this channel?</label>
																	<input class="form-control" type="text" id="face-to-face">
																</div>
															-->




																<div class="form-group form-group-compound">
																	<label class="block-label" for="other-nondigital" data-target="other-nondigital-percent-of-users">
																		<input id="other-nondigital" type="checkbox" value="Percent of users">
																		Other non-digital channel
																	</label>

  </fieldset>


<a href="data-frequency"><button class="button">Next</button></a>


<p><a href="manage-dashboard">Back</a></p>


</main>
</div>
{{/content}}

{{/layout}}
