{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Set up completion rate</h1>

	<p>This KPI will need your Google Analytics account to measure the completion rate for your services.</p>


	<h2 class="heading-large">What you need</h2>

	<ul>
		<li>A Google Analytics account</li>
		<li>A profile with goals set up</li>
		</ul>

		<p><a href="cr-google-analytics"><button class="button">Set up completion rate</button></a></p>





<p><a href="manage-dashboard">Back</a></p>


</main>
</div>
{{/content}}

{{/layout}}
