{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Set up digital take-up</h1>

	<p>Digital take-up reports measurements of how users complete your service through various channels. There are two ways you can add digital take-up to your dashboard</p>


	<h2 class="heading-large">Automatic (recommended)</h2>

	<ul>
		<li>Set up an API to report automatic data</li>
		<li>...</li>
		</ul>

		<button class="button">Set up automatic digital take-up</button>

		<h2 class="heading-large">Manual</h2>

		<ul>
			<li>Set up an API to report automatic data</li>
			<li>...</li>
			</ul>

			<a href="service-channels"><button class="button">Set up manual digital-takeup</button></a>




<p><a href="manage-dashboard">Back</a></p>


</main>
</div>
{{/content}}

{{/layout}}
