{{<layout}}

{{$pageTitle}}
Performance platform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">



	<div id="global-breadcrumb" class="header-context">
	    <nav role="navigation">
	      <ol class="group">
	        <li><a href="/">Home</a></li>
	        <li><a href="">Manage dashboards</a></li>
					<li>Employment tribunal claims dashboards</li>

	      </ol>
	    </nav>
	  </div>


	<p class="font-medium">Manage dashboard</p>
	<h1 class="heading-xlarge">Submit dashboard for approval</h1>

	<fieldset>

	<label class="block-label" for="waste-type-3">
		<input id="waste-type-3" name="waste-types" type="checkbox" value="waste-farm-agricultural">
		I have permission to publish this data
	</label>
</fieldset>


	<p><button class="button">Next</button></p>

</div>






</main>



{{/content}}

{{/layout}}
