

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang=""><![endif]-->
<!--[if gt IE 8]><!--><html lang=""><!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>Local government links
</title>

    <script type="text/javascript">
      (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
    </script>

    <!--[if gt IE 8]><!--><link href="/public/stylesheets/govuk-template.css?0.13.0" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="/public/stylesheets/govuk-template-ie6.css?0.13.0" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="/public/stylesheets/govuk-template-ie7.css?0.13.0" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="/public/stylesheets/govuk-template-ie8.css?0.13.0" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <link href="/public/stylesheets/govuk-template-print.css?0.13.0" media="print" rel="stylesheet" type="text/css" />

    <!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["/public/stylesheets/fonts-ie8.css?0.13.0"]},
       c="/public/javascripts/vendor/goog/webfont-debug.js?0.13.0",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
      <link href="/public/stylesheets/fonts.css?0.13.0" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->


    <!--[if lt IE 9]>
      <script src="/public/javascripts/ie.js?0.13.0" type="text/javascript"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/public/images/favicon.ico?0.13.0" type="image/x-icon" />

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/images/apple-touch-icon-152x152.png?0.13.0">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/public/images/apple-touch-icon-120x120.png?0.13.0">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/public/images/apple-touch-icon-76x76.png?0.13.0">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="/public/images/apple-touch-icon-60x60.png?0.13.0">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/public/images/opengraph-image.png?0.13.0">

  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body class="">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">


    </div>
    <!--end global-cookie-message-->


    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="/public/images/gov.uk_logotype_crown.png?0.13.0" width="35" height="31" alt=""> GOV.UK
            </a>
          </div>
        </div>
  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
        <a href="/" id="proposition-name">Local government links</a>
        <!--
        <ul id="proposition-links">
          <li><a href="url-to-page-1" class="active">Navigation item #1</a></li>
          <li><a href="url-to-page-2">Navigation item #2</a></li>
        </ul>
        -->
      </nav>
    </div>
  </div>
      </div>
    </header>
    <!--end header-->



    <div id="global-header-bar"></div>
    <!--end global-header-bar-->


<main id="content" role="main">

	<div class="grid-row">

		<div id="global-breadcrumb" class="header-context">

		<ol id="global-breadcrumb">
				<li class="global-breadcrumb"><a href="/">Home</a></li>
			<li><a href="/browse/housing-local-services">Housing and local services</a></li>
<li><strong><a href="/browse/housing-local-services/repossessions-evictions">Repossessions, emergency housing and evictions</a></strong></li>
</ol>
</div>
	<div class="column-two-thirds">





		<p>	<h1 class="heading-xlarge">Apply for emergency housing from your council</h1>

		<p>Check what help and advice your council can provide if you are homeless or about to lose your home.</p>

		<h2 class="heading-large">Find a local council</h2>
		<div class="form-group form-group-compound">
		<label class="block-label" for="find-me" data-target="find-computer">
			<input id="find-me" type="radio" name="method" value="Citizen of a different country">
			Find my current location
		</label>
	<div class="panel-indent js-hidden" id="find-computer">
		<p>
		<a href="start-now-simple3"><button class="button">Find</button></p></a>
	</div>

	<label class="block-label" for="city" data-target="street-name">
	<input id="city" type="radio" name="method" value="Citizen of a different country">
	Search by postcode
	</label>
	</div>

	<div class="panel-indent js-hidden" id="street-name">
	<label class="form-label" for="street-name-city">eg SE3 7UE or SE3</label>
	<input class="form-control" type="text" id="street-name-city">
	<a href="city-list"><button class="button">Find</button></p></a>
	</div>

	</fieldset>


	</div>
	<div class="column-third">


		<div class="service-links">

			<h2 class="heading-medium">Council Tax</h2>


						<ul><li>
									<a href="/council-tax">Council Tax</a>
								</li>

								<li>
									<a href="/council-tax-bands">Check your Council Tax band</a>
								</li>

								<li>
									<a href="/council-tax-reduction">Council Tax Reduction</a>
								</li>


								<li class="related-topic"><a href="/browse/housing-local-services/council-tax">More <span class="visuallyhidden">in Council Tax</span></a></li>

						</ul></nav>
	</div>

	</div>
	</div>





	</main>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">

        <div class="footer-meta">
          <div class="footer-meta-inner">

            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <!--end footer-->

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/public/javascripts/govuk-template.js?0.13.0" type="text/javascript"></script>

  <!-- Javascript -->
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/javascripts/application.js"></script>
  <script src="/public/javascripts/govuk-template.js"></script>
  <script src="/public/javascripts/selection-buttons.js"></script>
  </body>
</html>
