{{<layout}}

{{$pageTitle}}
Become a childminder
{{/pageTitle}}

{{$content}}

<style media="screen" type="text/css">
	#global-header{ display: none !important;}
	#global-header-bar .inner-block { display: none !important;}
	@media (min-width: 641px)
#global-header-bar .inner-block {display: none !important;}
#footer {display: none !important;}

</style>


<main id="content" role="main">


<div class="sign-in">
<a href="verify_4"><img src="public/images/verify_3.png" width="1200"></a>
</div>
	    </div>
	    <div class="column-third">
	      <p></p>
	    </div>
	  </div>





</main>
</div>
{{/content}}

{{/layout}}
