{{<layout}}

{{$pageTitle}}
Register to look after children
{{/pageTitle}}

{{$content}}

<main id="content" role="main">


	<div class="grid-row">
	    <div class="column-two-thirds">
	    <!--  <p><h1 class="heading-xlarge">Register to look after children</h1>-->

				<h2 class="heading-xlarge">You don't need to register</h2>
<p>Due to your circumstances, registration isn't required to look after children.</p>

<h2 class="heading-medium">You may need to prove that you don't need to register</h2>

<ul class="list-bullet">
	<li>...</li>
	<li>...</li>
</ul>

	    </div>
	    <div class="column-third">
	      <p></p>
	    </div>
	  </div>





</main>
</div>
{{/content}}

{{/layout}}
