{{<layout}}

{{$pageTitle}}
Register to look after children
{{/pageTitle}}

{{$content}}

<main id="content" role="main">


	<div class="grid-row">
	    <div class="column-two-thirds">
	    <!--  <p><h1 class="heading-xlarge">Register to look after children</h1> -->
				<h2 class="heading-medium">Based on your answers:</h2>

				<h2 class="heading-xlarge">You need to register</h2>
				<p>You want to care for three children under the age of 5 (change)</p>

				<h2 class="heading-medium">You will need to:</h2>

				<ul class="list-bullet">
					
						<li>Complete a health check declaration</li>
						<li>Complete a disclosure and Barring Service (DBS) check</li>
				</ul>

				<a href="number-of-children"><button class="button">Start now</button></a>


				<h2 class="heading-medium">Review your answers</h2>

				<div class="previous-answers">
				<table class="smart-answer">
				          <tbody>
				                <tr class="sectionsmrt">
				    <td class="section-title">
				      Number of children
				    </td>
				    <td>
				    </td>
				    <td class="link-right">
				        <a href="/pay-leave-for-parents/y?previous_response=yes">
				          Change<span class="visuallyhidden"> answer to "Your circumstances"</span>
				</a>    </td>
				  </tr>

				    <tr>
				    <td class="previous-question-title">How many children will you provide care for?</td>
				      <td class="previous-question-body">
				      3</td>

				  </tr>

				                <tr class="sectionsmrt">

				    <td class="section-title">
				      Caring location
				    </td>
				    <td>
				    </td>
				    <td class="link-right">
				        <a href="/pay-leave-for-parents/y/yes?previous_response=2017-8-5">
				          Change<span class="visuallyhidden"> answer to "Due date"</span>
				</a>    </td>
				  </tr>

				    <tr>
				    <td class="previous-question-title">Will you care for the child or children on domestic premises?</td>
				      <td class="previous-question-body">
				      Yes</td>

				  </tr>

					<tr class="sectionsmrt">

						<td class="section-title">
							Relationship with child
							</td>
							<td>
							</td>
							<td class="link-right">
								<a href="/pay-leave-for-parents/y/yes?previous_response=2017-8-5">
									Change<span class="visuallyhidden"> answer to "Due date"</span>
								</a>    </td>
							</tr>

							<tr>
								<td class="previous-question-title">Are you related to the child or children?</td>
								<td class="previous-question-body">
									No</td>

								</tr>


				          </tbody>
				        </table>
</div>
	    </div>
	    <div class="column-third">
	      <p></p>
	    </div>
	  </div>





</main>
</div>
{{/content}}

{{/layout}}
