{{<layout}}

{{$pageTitle}}
Register to look after children
{{/pageTitle}}

{{$content}}

<main id="content" role="main">


	<div class="grid-row">
	    <div class="column-two-thirds">
	    <!--  <p><h1 class="heading-xlarge">Register to look after children</h1> -->

				<h2 class="heading-xlarge">You need permission</h2>
<p>Due to your circumstances, permission is required to look after children.</p>


Who can register
To apply you must:

have the right to work in the UK
be 18 or over
undergo a Disclosure and Barring Service (DBS) check
You must also fill in the ‘Health declaration booklet’ if you’re joining the Early Years Register and you’re:

applying as a childminder
working directly with children
a manager in charge of the day-to-day running of childcare on domestic premises




<h2 class="heading-medium">Next steps</h2>

<ul class="list-bullet">
	<li>Complete a health check declaration</li>
	<li>Complete a disclosure and Barring Service (DBS) check</li>
</ul>

	    </div>
	    <div class="column-third">
	      <p></p>
	    </div>
	  </div>





</main>
</div>
{{/content}}

{{/layout}}
